*{
    margin:0px;
}
/** Header section **/
#header #header-caption{
    position:absolute;
    color:white;
    top:100px;
    left:30px;
    font-size:60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
#title{
    font-size:25px;
    font-family:'Open Sans', sans-serif;

}
#header-image{
    width:100%;
    height:auto;
}
/** Main section **/
#main{
    margin:0px 20px;
    background-color:#ffffcc;
    padding-left:50px;
    padding-top:10px;
}
#img-div{
    float:right;
    padding:10px;
    border:3px solid hsl(60, 43%, 75%);
}
#img-div #image{
    height:auto;
    width:auto;

}
#img-div #img-caption{
    font-size:18px;
    margin-left:50px;
}
#tribute-info{
    padding:50px;
}
#tribute-info h1{
    color:rgb(36, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:5px;
     word-spacing:7px;
     width:fit-content;
    padding:20px;
}
#tribute-info p{
    padding:4px;
    font-size:20px;
    font-family:"Lucida Console", Courier, monospace;
}
#tribute-info p strong{
    font-size:20px;
    color:green;
}


footer #External-links{
    text-align:center;
    font-size:25px;
    padding:20px;
    background-color:rgb(172, 166, 131);
}
footer #External-links a{
    color:black;
    text-decoration:none;
    
}
footer #External-links a:hover{
    color:white;
}
